body{
    margin: 0;
}

nav{
    width: 100%;
    height: 75px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
}

.nav-full{
    width: 80%;
    height: 75px;
    display: flex;
    text-align: center;
}

.nav-left{
    width: 50%;
    height: 75px;
    margin-top: 15px;
}

.nav-left img{
    float: left;
}

.nav-right{
    width: 50%;
    height: 75px;
}

.nav-right a{
    float: right;
    margin-top: 28px;
    font-family: "Roboto";
    color: #595959;
}

.under-nav{
    width: 100%;
    border-top:0.5px solid rgba(136, 135, 135, 0.4);
    border-bottom:0.5px solid rgba(136, 135, 135, 0.4);
}

.under-nav-all{
    margin: 0 auto;
    width: 80%;
    height:60px;
    display: flex;
    text-align: center;
}

.under-nav-all h3{
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    font-family: "Roboto Thin";
}

.under-nav-all a{
    font-family: "Roboto";
    font-size: 12px;
}

.under-nav-1{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-2{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-3{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-4{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-5{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-6{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-7{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    border-right: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.video-image{
    width: 100%;
    height: 705px;
    display: flex;
}

.video-image img{
    min-width: 100%;
    min-height: 100%
}

.introduction-full{
    width: 100%;
    height: 644px;
    display: flex;
    display: inline-block;
}

.introduction-left{
    float: left;
    width: 48%;
    height: 647px;
    display: flex;
    align-items: center;
}

.introduction-left img{
    width: 100%;
    height: 504px;
}

.introduction-right{
    float: right;
    width: 48%;
    height: 647px;
    display: flex;
    align-items: center;
}

.introduction-right-text{
    width: 550px;
    height: 504px;
}

.introduction-right-text input{
    border-radius: 4px;
    border: 0px;
    background-color: #BF0F0F;
    margin-top: 27px;
    width: 184px;
    height: 48px;
    color: white;
    font-family: Roboto;
    font-size: 16px;
}

.image-2{
    width: 100%;
    height: 502px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-2 img {
    width: 100%;
    height: 502px;
}
.news {
    width: 100%;
    height: 502px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-news {
    padding: 10px;
    position: relative;
}

.caption::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #BF0F0F;
    transition: .4s;
}

.image-news:hover > .caption::after{
    width: 400px;
}

.image-news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption{
    margin-top: 26px;
    font-family: Roboto;
    text-transform: uppercase;
}

.custom-hr {
    width: 50px;
    height: 2px;
    background-color: #BF0F0F;
    border: none;
    float: left;
    margin-top: 11px;
    position: relative;
}

.brojkama {
    width: 100%;
    height: 502px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brojkama p {
    font-family: Roboto;
    font-size: 42px;
}

.brojkama a{
    font-size: 28px;
    font-family: Inter;
}

.brojkama2 {
    position: relative;
}

.brojkama2 img {
    display: block;
    width: 100%;
    height: auto;
}

.brojkama2 .caption-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.brojkama2 .caption-1,
.brojkama2 .caption-2,
.brojkama2 .caption-3,
.brojkama2 .caption-4 {
    flex: 1;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.brojkama2 .caption-1{
    font-size: 46px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.brojkama2 .caption-2{
    font-size: 46px;
    border-right: 1px solid rgba(255, 255, 255, 0.2)
}

.brojkama2 .caption-3{
    font-size: 46px;
    border-right: 1px solid rgba(255, 255, 255, 0.2)
}

.brojkama2 .caption-4{
    font-size: 46px;
}

.proizvodi{
    width: 100%;
    height: 900px;
    background-color: #F4F4F4;
    text-align: center;
}


.proizvodi h1{
    margin: 0;
    padding-top: 139px;
    font-family: Inter;
    font-size: 28px;
    font-weight: normal;
}

.hr-porizvodi{
    margin-top: 60px;
    width: 524px;
    height: 3px;
    background-color: rgba(196, 196, 196, 0.4);
    border: 0;
    margin-bottom: 60px;
}








