body{
    margin: 0;
}

nav{
    width: 100%;
    height: 75px;
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
}



.nav-full{
    width: 80%;
    height: 75px;
    display: flex;
    text-align: center;
}

.nav-left{
    width: 50%;
    height: 75px;
    margin-top: 15px;
}

.nav-left img{
    float: left;
}

.nav-right{
    width: 50%;
    height: 75px;
}

.nav-right a{
    float: right;
    margin-top: 28px;
    font-family: "Roboto";
    color: #595959;
}



.under-nav{
    width: 100%;
    border-top:0.5px solid rgba(136, 135, 135, 0.4);
    border-bottom:0.5px solid rgba(136, 135, 135, 0.4);
}

.under-nav-all{
    margin: 0 auto;
    width: 80%;
    height:60px;
    display: flex;
    text-align: center;
}

.under-nav-all h3{
    font-size: 16px;
    margin: 0;
    margin-top: 10px;
    font-family: "Roboto Thin";
}

.under-nav-all a{
    font-family: "Roboto";
    font-size: 12px;
}

.under-nav-1{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-2{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-3{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-4{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-5{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-6{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.under-nav-7{
    width: 15%;
    height:60px;
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
    border-right: 0.5px solid rgba(136, 135, 135, 0.4);
    cursor: pointer;
}

.video-image{
    width: 100%;
    height: 705px;
    display: flex;
}

.video-image img{
    min-width: 100%;
    min-height: 100%
}

.introduction-full{
    width: 100%;
    height: 640px;
    display: flex;
    display: inline-block;
}

.introduction-left{
    float: left;
    width: 48%;
    height: 647px;
    display: flex;
    align-items: center;
}

.introduction-left img{
    width: 100%;
    height: 504px;
}

.introduction-right{
    float: right;
    width: 48%;
    height: 647px;
    display: flex;
    align-items: center;
}

.introduction-right-text{
    width: 550px;
    height: 504px;
}

.introduction-right-text h1{
    color: #303030;
    font-size:42px;
    font-family: Roboto;
}

.introduction-right-text h4{
    color: #303030;
    font-size:28px;
    font-family: Roboto;
}

.introduction-right-text h6{
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    color: #474747;
}

.introduction-right-text input{
    border-radius: 4px;
    border: 0px;
    background-color: #BF0F0F;
    margin-top: 27px;
    width: 184px;
    height: 48px;
    color: white;
    font-family: Roboto;
    font-size: 16px;
}

.news {
    width: 100%;
    height: 502px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-news {
    padding: 10px;
    position: relative;
}

.caption::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background-color: #BF0F0F;
    transition: .4s;
}

.image-news:hover > .caption::after{
    width: 400px;
}

.image-news img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.caption{
    margin-top: 26px;
    font-family: Roboto;
    text-transform: uppercase;
}

.custom-hr {
    width: 50px;
    height: 2px;
    background-color: #BF0F0F;
    border: none;
    float: left;
    margin-top: 11px;
    position: relative;
}

.brojkama {
    width: 100%;
    height: 502px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brojkama p {
    font-family: Roboto;
    font-size: 42px;
}

.brojkama a{
    font-size: 28px;
    font-family: Inter;
}

.brojkama2 {
    position: relative;
}

.brojkama2 img {
    display: block;
    width: 100%;
    height: auto;
}

.brojkama2 .caption-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
}

.brojkama2 .caption-1,
.brojkama2 .caption-2,
.brojkama2 .caption-3,
.brojkama2 .caption-4 {
    flex: 1;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.brojkama2 .caption-1{
    font-size: 46px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.brojkama2 .caption-2{
    font-size: 46px;
    border-right: 1px solid rgba(255, 255, 255, 0.2)
}

.brojkama2 .caption-3{
    font-size: 46px;
    border-right: 1px solid rgba(255, 255, 255, 0.2)
}

.brojkama2 .caption-4{
    font-size: 46px;
}

.proizvodi{
    width: 100%;
    height: 360px;
    background-color: #F4F4F4;
    text-align: center;
}


.proizvodi h1{
    margin: 0;
    padding-top: 139px;
    font-family: Inter;
    font-size: 28px;
    font-weight: normal;
}

.hr-porizvodi{
    margin-top: 60px;
    width: 524px;
    height: 3px;
    background-color: rgba(196, 196, 196, 0.4);
    border: 0;
}

.swiper-cards{
    width: 100%;
    height: 550px;
    background-color: #F4F4F4;
    position: relative;
}

.swiper-cards .img-brand{
    top: 455px;
    left: 10px;
    position: absolute;
}

/*Swiper Style*/

.swiper {
    width: 90%;
    height: 60%;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    cursor: pointer;
}

.swiper-slide img{
    max-width: 80%;
    max-height: 60%;
    margin-top: 15px;
}

.cardText {
    position: relative;
}

.cardText::after {
    content: "";
    position: absolute;
    width: calc(20%);
    height: 2px;
    background-color: #BF0F0F;
    transition: .4s;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}


.cardText p {
    font-family: Roboto;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 35px;
    overflow: hidden;
}


.swiper-slide:hover > .cardText::after {
    width: 100%;
    left: 0;
    transform: translateX(0%);
}


/*Swiper Style END*/



.brand{
    width: 100%;
    height: 620px;
}

.brand-text{
    width: 100%;
    text-align: center;
}

.brand-text h4{
    font-size: 28px;
    text-decoration: none;
    font-weight: normal;
    font-family: Inter;
    margin: 0;
    padding-top: 83px;
    padding-bottom: 30px;
}

.brand-text hr{
    width: 524px;
    height: 3px;
    border: 0;
    background-color: rgba(196, 196, 196, 0.4);
    margin-bottom: 85.87px;
}

.brand-product{
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    vertical-align: center;
    justify-content: center;
}

.product{
    width: 10%;
    height: 100px;
    margin: 0 15px 15px 15px;
}

.product-image{
    width: 100%;
    height: 50%;
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
}

.product-text{
    width: 100%;
    height: 50%;
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 53px;
}

.product a{
    font-family: Inter;
    font-size: 18px;
}

.brand-button{
    width: 100%;
    height: 130px;
    text-align: center;
    padding-top: 10px;
}

.brand-button input{
    padding:16px;
    border-radius: 4px;
    border: 0;
    background-color: #BF0F0F;
    font-family: Roboto;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}

footer{
    width: 100%;
    height: 400px;
    background-image: url("../img/White-fur-rug-texture-patternpictures-1313 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    vertical-align: center;
    align-items: center;
    justify-content: center;
}

.footer-divs{
    width: 90%;
    height: 280px;
    display: flex;
}


.footer-divs-text{
    width: 25%;
    height: 270px;
    border-right: 1px solid white;

}

.footer-divs-text-image{
    width: 25%;
    height: 270px;
    text-align: center;
    border-right: 1px solid #ffffff;
}

.footer-divs-text{
    color: white;
}

.footer-divs-text h2{
    color: white;
    margin: 0;
    margin-left: 30px;
    font-family: Inter;
    font-size: 20px;
}

.image-with-text {
    display: flex;
    align-items: center;
    margin-left: 30px;
    padding-bottom: 55px;
    padding-top: 13px;
}

.image-with-text img {
    margin-right: 10px;
}

.image-with-text p {
    margin: 0;
    font-family: Roboto;
    font-size: 14px;
}

.footer-divs-text h5{
    color: white;
    margin: 0;
    margin-left: 30px;
    font-family: "Roboto Thin";
    font-size: 16px;
    padding-bottom: 32px;
    font-weight: normal;
}

.footer-divs-text h6{
    margin: 0;
    margin-left: 30px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: normal;
}

.img-footer{
    width: 20px;
    height: 20px;
    margin-left: 22px;
    padding-top: 19.25px;
}

#popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Szürke átlátszó háttér */
    z-index: 9999; /* Biztosítsd, hogy a popup ablak mindig előtérben legyen */
}

#popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    background-color: #ffffff;
    border: 0px solid #000000;
    border-radius: 10px;
    padding: 20px;
    display: none;
    z-index: 10000; /* Biztosítsd, hogy a popup ablak mindig előtérben legyen */
}

#close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid black;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
}

.darklight{
    display: flex;
    justify-content: end;
    align-items: center;
}

.darklight img{
    margin-top: 10px;
}

#dark-icon {
    display: block;
    cursor: pointer;
}

#light-icon {
    display: none;
    cursor: pointer;
}

.dark-mode .under-nav {
    background-color: black;
}

.dark-mode .under-nav-all h3 {
    color: white;
}

.dark-mode .under-nav-all a {
    color: white;
}

.dark-mode .introduction-left {
    background-color: black;
}

.dark-mode .introduction-right {
    background-color: black;
}


.dark-mode .introduction-right-text h1{
    color: #ffffff;
}

.dark-mode .introduction-right-text h4{
    color: #ffffff;
}

.dark-mode .introduction-right-text h6{
    color: #ffffff;
}

.dark-mode .introduction-full {
    background-color: #000000;
}

.dark-mode .introduction-full {
    background-color: #000000;
}

.dark-mode .news{
    background-color: black;
    color: #ffffff;
    height: 507px;
}

.dark-mode .brojkama{
    background-color: #000000;
    color: #ffffff;
}

.dark-mode .proizvodi{
    background-color: #000000;
    color: #ffffff;
}

.dark-mode .swiper-cards{
    background-color: #000000;
    height: 556px;
}

.dark-mode .brand-text h4{
    background-color: #000000;
    color:  #ffffff;
}

.dark-mode .brand{
    background-color: #000000;
    color:  #ffffff;
}


.image-2 {
    background-image: url("../img/Placeholder Alt..jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}


/*RESZPONTIVITÁS*/

.menu-container {
    position: relative;
    width: 200px;
    z-index: 1000;

}

.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D9D9D9;
    padding: 10px;
}

.menu-toggle {
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;

}

.menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.menu-list li {
    padding: 10px;
}

.menu-list li a {
    color: #333;
    text-decoration: none;
}

.menu-list li a:hover {
    text-decoration: underline;
}

.menu-open {
    display: block;
}


@media only screen and (min-width: 1161px) {
    .menu-container {
        display: none;
    }
}

@media only screen and (max-width: 1162px) {
    .nav-left img {
        display: none;
    }

    .nav-left{
        display: flex;
    }

    #dark-icon{
        margin: 0;
    }

    .darklight{
        height: 50px;
    }

    .nav-right{
        display: none;
    }
}

@media only screen and (max-width: 1162px) {
    .under-nav{
        display: none;
    }

}

@media only screen and (max-width: 1029px) {

    .introduction-full input{
        margin: 0;
    }
}

@media only screen and (max-width: 1136px) {
    .introduction-full{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 420px;
    }

}

.hr-introduction{
    width: 524px; height: 3px; background-color: #C4C4C4; border: 0; float: left;
}


@media only screen and (max-width: 745px) {
    .introduction-right-text{
        width: 280px;
        margin-top: 19rem;
    }

    .hr-introduction{
        width: 250px;
    }

    .introduction-left img{
        display: none;
    }
}

@media only screen and (max-width: 854px) {
    .caption-wrapper p{
        font-size: 20px;
    }

    .caption-wrapper a{
        font-size: 10px;
    }
}

.caption-wrapper{
    font-size: 18px;
}

@media only screen and (max-width: 555px) {
    .hr-porizvodi{
        width: 280px;
    }


    .brand-text hr{
        width: 280px;
    }
}


@media only screen and (max-width: 700px) {
    .brand-product{
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: center;
        justify-content: center;
    }

    .brand{
        height: 1100px;
    }

    .brand-text{
        height: 27rem;
    }

    .product-text{
        margin: 0;
    }

    .product{
        padding-top: 30px;
    }

    .brand-button{
        padding-top: 268px;
    }
}


@media only screen and (max-width: 700px) {
    footer {
        background-image: none;
        background-color: black;
        height: 700px;
    }

    .footer-divs-text-image{
        height:100px;
    }

    .image-with-text{
        padding: 0;
        margin: 0;
    }

    .footer-divs{
        width: 100%;
        height: auto;
        flex-direction: column;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .footer-divs-text{
        height: auto;
        border: 0;
        border-bottom: 1px solid white;
    }

    .footer-divs-text img{
        margin: 0;
    }

    .footer-divs-text h5{
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .image-with-text p{
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .footer-divs-text h6{
        margin: 0;
        padding-top: 5px;
    }

    .footer-divs-text h2{
        margin: 0;
    }

    .footer-divs-text-image{
        border: 0;
    }
}








